{% extends 'base.html.twig' %}


{% block content %}
<!-- Afficher la recherche de voiture  -->
  <div>
    <p>Ceci est une préparation pour l'affichage de notre recherche </p>
  </div>
{% endblock %}
